.parent1{
    display: grid;
    grid-template-columns: repeat(4,130px);
    
    justify-content:space-between;
    
    padding:30px;
   
    margin:30px 30px 30px 30px;
}
.child{
background-color:white;
margin:20px;
width:250px;


}
.child1{
    min-height: 150px;
}
.child2{
    min-height: 150px;
}
.child3{
    min-height: 150px;
}
.child4{
    min-height: 150px;
}
.child5{
    min-height: 150px;
}
.child6{
    min-height: 150px;
}
.child7{
    min-height: 150px;
}
.child8{
    min-height: 150px;
}
.mahesh{
    background-color:white;
margin:20px;
width: 800px;
margin-left: 20px;

}
.mahesh1 , .mahesh2 , .mahesh3{

    min-height: 300px;
}
.prabhas{
    text-align: center;
    color:black;
    padding-top: 35px;
    font-size: 20px;
    line-height: 30px;
    
}
.prabhas1{
    font-size: 12px;
    color:black;
}
.prabhas2{
    background-color:rgba(241, 238, 238, 0.867);
    height: 300px;
}
.prabhas4{
    text-align:center; 
    font-weight: 700 ;
}
.pawan1{
    font-style: italic;
    text-align: center;
}
.pawan{
    font-style: italic;
    text-align: center;
}
.chiru{
    display:grid;
    
    grid-template-columns: repeat(4,150px);
    
    margin-left:150px;
    
    position: fixed;
    bottom: 0;
    
}
.rajini{                 
 width:20px;
height: 20px;
padding-left: 65px;
padding-right: 65px;
}
.bala{
    min-height:5px;
    background-color:rgb(42, 114, 214);
    

}
.nag{
    min-height:5px; 
    background-color: rgb(42, 114, 214); 
}
.venky{
    min-height:5px;
    background-color: green;    
}
.kamal{
    min-height:5px;
    background-color: black;  
}
.mgr{
    position:fixed;
    border-left: 20px;
    bottom:0;
    right:2px;
    width:50px;
    height:50px;
}
.ntr{
    padding-left: 20px;
}
.modal-content {

    display: flex;
    background-color: black;
    color:white;
    position: absolute;
    top:0;
    width:70%;
}
.modal-body{
    background-color: #f4f4f4;
    margin:5% auto;
    padding:5px;
    width:70%;
    box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;

}
.modal{

    display:none;
    position:absolute;
    top:100px;
   
}
.closeBtn{

    cursor:pointer;

}



.anuhya{
    width:700px;
    position:absolute;
    bottom:30px;
    text-align: center;
    justify-content: space-around;
    background-color: white;
    border-top:2px black;
    
}
#hema{
    background-color: rgb(35, 55, 143);
    width:140px;
    border:none;
    color:white;
    height:30px;

}

.button1{
    background-color: rgb(255, 0, 85);
    border-color: rgb(255, 0, 140);
    border-radius: 10px;
    border:none;
    height:30px;
}

.anuhya button:hover{
    background-color: blueviolet;

}
.form{
    height: 300px;
    overflow: scroll;
}

/* .registration{
    position:absolute;
    top:100px;
} */


@keyframes modalopen{
    from{opacity:0}
    to {opacity:1}
}