body {
    font-family: sans-serif;
    background-color: white;
}

* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}


.product {
     
    display:grid;
    grid-template-columns: repeat(4fr,20px); 
     grid-gap: 20px; 
     text-align: center;
}

/* .product {

    border-radius: 3px;
    display: flex;
    display:inline-block;
    
    /* grid-template-areas:
        'title image'
        'id image'; */
    /* text-align: center; }*/


/* .product > h2 {
    grid-area: title;
    margin-bottom: 0px;
}

.product > p {
    grid-area: id;
    margin: 0;
    margin-top: -18px;
}

.product > img {
    max-height: 100px;
    grid-area: image;
} */

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
    float:right;
}

#searchWrapper {
    position: relative;
    right:0px;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}



